pandas
numpy
feedparser
requests
jupyter
lxml_html_clean
langchain-core
langchain_text_splitters
transformers>=4.46
sentence-transformers>=3.0
faiss-cpu
rapidfuzz
newspaper3k
streamlit
vaderSentiment
python-dotenv